.title{
    color: #535151;
    width: 100%;
    text-align: center;
    font-size: 48px;
    letter-spacing: 8px;
    margin-top: 20px;
    border-bottom: 2px solid gray;
    text-shadow: 0px 3px 10px  rgba(0, 0, 0, 0.4111);
}

.wrapAll{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 20px;

}
.wrapAll p{
color: #ff9100;
padding: 15px  125px;
border-radius: 999px;
font-size: 22px;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.wrapResps{
    background-color: #000000bb;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0px 3px rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
}
.wrapResp h2{
    font-size: 22px;
    color: #fbfbfb;
}
.wrapResp h3{
 font-size: 18px;
 color: #b4cbe1;
}